.App {
  text-align: center;
}

h3.text-center {
  color: #c52950 !important;
}
kbd{
  background-color: #c52950 !important;
  color: aliceblue;
}
button > kbd {
  background-color: transparent;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
